In [3]:
# Importing required packages for Python equivalent operations
import pandas as pd

# Loading the datasets from the uploaded CSV files
airlines = pd.read_csv('data/airlines.csv')
airports = pd.read_csv('data/airports.csv')
flights = pd.read_csv('data/flights.csv')

# Displaying the 'flights' DataFrame as a table, similar to R's 'View()' function
# However, in a Jupyter notebook environment, we just display the head of the DataFrame for brevity
flights_head = flights.head()

# Getting a glimpse of the 'flights' DataFrame, similar to R's 'glimpse()' function
flights_info = flights.info()

flights_description = flights.describe(include='all').transpose()
flights_info = flights.info()  # This will print to the console

flights_description

airlines_table = airlines.head()  # Display the head of the dataframe for brevity in this notebook.
airlines_table


# Selecting the 'name' column from the 'airlines' DataFrame
airlines_names = airlines['name']

# Getting a glimpse of the 'airports' DataFrame, similar to R's 'glimpse()' function
airports_info = airports.info()

# Displaying the 'airports' DataFrame as a table
airports_head = airports.head()

flights_head, airlines_head, airlines_names.head(), airports_head

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year            336776 non-null  int64
 1   month           336776 non-null  int64
 2   day             336776 non-null  int64
 3   dep_time        328521 non-null  float64
 4   sched_dep_time  336776 non-null  int64
 5   dep_delay       328521 non-null  float64
 6   arr_time        328063 non-null  float64
 7   sched_arr_time  336776 non-null  int64
 8   arr_delay       327346 non-null  float64
 9   carrier         336776 non-null  object
 10  flight          336776 non-null  int64
 11  tailnum         334264 non-null  object
 12  origin          336776 non-null  object
 13  dest            336776 non-null  object
 14  air_time        327346 non-null  float64
 15  distance        336776 non-null  int64
 16  hour            336776 non-null  int64
 17  minute          336776 non-null  int64
 18  time_hour       336776 non-null  object
dtypes: float64(5), int64(9), object(5)
memory usage: 48.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year            336776 non-null  int64
 1   month           336776 non-null  int64
 2   day             336776 non-null  int64
 3   dep_time        328521 non-null  float64
 4   sched_dep_time  336776 non-null  int64
 5   dep_delay       328521 non-null  float64
 6   arr_time        328063 non-null  float64
 7   sched_arr_time  336776 non-null  int64
 8   arr_delay       327346 non-null  float64
 9   carrier         336776 non-null  object
 10  flight          336776 non-null  int64
 11  tailnum         334264 non-null  object
 12  origin          336776 non-null  object
 13  dest            336776 non-null  object
 14  air_time        327346 non-null  float64
 15  distance        336776 non-null  int64
 16  hour            336776 non-null  int64
 17  minute          336776 non-null  int64
 18  time_hour       336776 non-null  object
dtypes: float64(5), int64(9), object(5)
memory usage: 48.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458 entries, 0 to 1457
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   faa     1458 non-null   object
 1   name    1458 non-null   object
 2   lat     1458 non-null   float64
 3   lon     1458 non-null   float64
 4   alt     1458 non-null   int64
 5   tz      1458 non-null   int64
 6   dst     1458 non-null   object
 7   tzone   1455 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 91.2+ KB

(   year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
 0  2013      1    1     517.0             515        2.0     830.0
 1  2013      1    1     533.0             529        4.0     850.0
 2  2013      1    1     542.0             540        2.0     923.0
 3  2013      1    1     544.0             545       -1.0    1004.0
 4  2013      1    1     554.0             600       -6.0     812.0

    sched_arr_time  arr_delay carrier  flight tailnum origin dest  air_time  \
 0             819       11.0      UA    1545  N14228    EWR  IAH     227.0
 1             830       20.0      UA    1714  N24211    LGA  IAH     227.0
 2             850       33.0      AA    1141  N619AA    JFK  MIA     160.0
 3            1022      -18.0      B6     725  N804JB    JFK  BQN     183.0
 4             837      -25.0      DL     461  N668DN    LGA  ATL     116.0

    distance  hour  minute            time_hour
 0      1400     5      15  2013-01-01 05:00:00
 1      1416     5      29  2013-01-01 05:00:00
 2      1089     5      40  2013-01-01 05:00:00
 3      1576     5      45  2013-01-01 05:00:00
 4       762     6       0  2013-01-01 06:00:00  ,
   carrier                    name
 0      9E       Endeavor Air Inc.
 1      AA  American Airlines Inc.
 2      AS    Alaska Airlines Inc.
 3      B6         JetBlue Airways
 4      DL    Delta Air Lines Inc.,
 0         Endeavor Air Inc.
 1    American Airlines Inc.
 2      Alaska Airlines Inc.
 3           JetBlue Airways
 4      Delta Air Lines Inc.
 Name: name, dtype: object,
    faa                           name        lat        lon   alt  tz dst  \
 0  04G              Lansdowne Airport  41.130472 -80.619583  1044  -5   A
 1  06A  Moton Field Municipal Airport  32.460572 -85.680028   264  -6   A
 2  06C            Schaumburg Regional  41.989341 -88.101243   801  -6   A
 3  06N                Randall Airport  41.431912 -74.391561   523  -5   A
 4  09J          Jekyll Island Airport  31.074472 -81.427778    11  -5   A

               tzone
 0  America/New_York
 1   America/Chicago
 2   America/Chicago
 3  America/New_York
 4  America/New_York  )

In [4]:
# Provide a glimpse of the 'airports' DataFrame
airports_description = airports.describe(include='all').transpose()
airports_info = airports.info()  # This will print to the console

airports_description

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458 entries, 0 to 1457
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   faa     1458 non-null   object
 1   name    1458 non-null   object
 2   lat     1458 non-null   float64
 3   lon     1458 non-null   float64
 4   alt     1458 non-null   int64
 5   tz      1458 non-null   int64
 6   dst     1458 non-null   object
 7   tzone   1455 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 91.2+ KB

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
faa,1458,1458,04G,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
name,1458,1440,Municipal Airport,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lat,1458.0,NaN,NaN,NaN,41.648008,10.449509,19.721375,34.257539,40.087722,45.06715,72.270833
lon,1458.0,NaN,NaN,NaN,-103.392289,29.843118,-176.646,-119.185652,-94.661854,-82.516717,174.11362
alt,1458.0,NaN,NaN,NaN,1001.415638,1523.626105,-54.0,70.25,473.0,1062.5,9078.0
tz,1458.0,NaN,NaN,NaN,-6.518519,1.623016,-10.0,-8.0,-6.0,-5.0,8.0
dst,1458,3,A,1388,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tzone,1455,9,America/New_York,519,NaN,NaN,NaN,NaN,NaN,NaN,NaN